/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* Set a default font for the entire application */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(136deg, #252424, #668DB9);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: #e0e0e0;
}

/* Style for headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #ffffff;
}

/* Style for paragraphs */
p {
    margin-bottom: 1rem;
    color: #e0e0e0;
}

/* Links */
a {
    color: #668DB9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container class for layout */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #252424;
}

::-webkit-scrollbar-thumb {
    background: #668DB9;
}